<header>
  <div class="container">
    <div class="logo">
      <a [routerLink]="['/']" routerLinkActive="router-link-active">
        <img src="../../../assets/PW-LOGO.svg" />
      </a>
    </div>
    <div class="right-side">
      <div class="user-info">
        <div class="username">Jayson Delgado</div>
        <div class="balance">
          <span class="title">Balance</span>
          <span class="amount">$900</span>
        </div>
      </div>
      <button mat-stroked-button>Logout</button>
    </div>
  </div>
</header>