<header>
  <div class="container">
    <div class="logo">
      <a [routerLink]="['/']" routerLinkActive="router-link-active">
        <img src="../../../assets/PW-LOGO.svg" />
      </a>
    </div>
    <div class="right-side" *ngIf="user">
      <div class="user-info">
        <div class="username">{{ user.name }}</div>
        <div class="balance">
          <span class="title">Balance</span>
          <span class="amount">${{ user.balance }}</span>
        </div>
      </div>
      <button mat-stroked-button (click)="logout()">Logout</button>
    </div>
  </div>
</header>