.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.mr {
  margin-right: 0.5rem;
}