<li>
  <div class="block">
    <div class="label">Name:</div>
    <div class="value bold">Jack Edison</div>
  </div>
  <div class="block">
    <div class="label">Amount:</div>
    <div class="value bold amount">$500</div>
  </div>
  <div class="block">
    <div class="label">Resulting balance:</div>
    <div class="value bold">$2000</div>
  </div>
  <div class="block">
    <div class="label">Date:</div>
    <div class="value">28.02.2000</div>
  </div>
  <div class="block">
    <button mat-stroked-button aria-label="Duplicate Transaction">
      <mat-icon class='icon'>content_copy</mat-icon>
      <span class='btn-label'>Copy transaction</span>
    </button>
  </div>
</li>